{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset='utf-8'>

        
        
        {% block head %}
        {% endblock %}
        {% load bootstrap4 %}
        {# CSS Bootstrap #}
        {% bootstrap_css %}
    </head>


    <body class='fondo'> 
        {% include 'navbar.html' %}
        {% include 'messagess.html' %}
        
        {% block antes_del_body%}

        {% endblock %}
        <div class="container">
            <div class="row">
                <div class="col">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>
        {% bootstrap_javascript jquery='full' %}
        <script src="https://kit.fontawesome.com/471ef0948e.js" crossorigin="anonymous"></script>
        
    </body>
    
</html>