{% load static %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'Sir:Index_Forums' %}">
        <img src="{{'/media/aaaaa.jpg'}}"  alt="" height="100px" width="100px"  class="rounded-circle">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if user.is_authenticated %}
        {% if 'admin' ==  request.user.groups.all.0.name or 'editor' ==  request.user.groups.all.0.name%}  
          <li class="nav-item">
              <a class="nav-link" href="{% url 'Sir:Index_Forums' %}"> Foros</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'Sir:Index_Forums_Owner' %}"> Mis Foros</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'Sir:Index_Forums' %}"> Foros </a>
          </li>
        {% endif %}
        {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'Sir:Index_Forums' %}"> Foros </a>
          </li>
    {% endif %}  
    </ul>
    <ul class="nav navbar-nav ml-auto">

                    
        {% if user.is_authenticated %}
        <li class="navbar-item">
            <a href="{% url 'Usuarios:Profile' %}" class="nav-link">
                <span class="fa fa-user"></span>
                Mi Perfil</a>
        </li>
        <li class="navbar-item">
            <a href="{% url 'Usuarios:ChangePassword' %}" class="nav-link">
                <span class="fa fa-user"></span>
                Cambiar Contraseña</a>
        </li>
        <li class="navbar-item">
            <a href="{% url 'Usuarios:logout' %}" class="nav-link">
                <span class="fa fa-sign-in-alt"></span>
                Cerrar Sesión</a>
        </li>
        {% else %}
            <li class="navbar-item">
                <a href="{% url 'Usuarios:login' %}" class="nav-link">
                    <span class="fa fa-user"></span> 
                    Iniciar Sesión</a>
            </li>
            <li class="navbar-item">
                <a href="{% url 'Usuarios:register' %}" class="nav-link ">
                    <span class="fa fa-user-plus"></span>
                    Registro </a>
            </li>
        {% endif %}
    
    </ul>
    
  </div>
</nav>



