{% extends 'base.html' %}
{% block title %}

fbv form
{{ form.media }}
{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>

<form  method="POST" enctype="multipart/form-data">

  <table class="table table-dark" align="center" text-align="center" >
      
      <thead >
          <tr><td align="center"><h2>Agrega Tu Post</h2></td></tr>
  
      </thead>
      <tbody>
        {% csrf_token %}
        {% for field in formA %}
                                <div>
                            
                                    <tr>
                                        <td  align="center">{{field.label_tag}}</td> <td  align="center">{{field}}</td></tr>
                                    
                                </div>
                                <br>
                                
                            {% endfor %}
        {% for field in formB %}
                                <div>
                            
                                    <tr>
                                        <td  align="center">{{field.label_tag}}</td> <td  align="center">{{field}}</td></tr>
                                    
                                </div>
                                <br>
                                
                            {% endfor %}
        {% for field in formC %}
                            <div>
                        
                                <tr>
                                    <td  align="center">{{field.label_tag}}</td> <td  align="center">{{field}}</td></tr>
                                
                            </div>
                            <br>
                            
                        {% endfor %}
            <tr><td  align="center"><button class="btn btn-primary" type="submit">Guardar cambios</button></td></tr>
      </tbody>

    </table>
</form>



{% endblock %}