{% extends 'base.html' %}
{% block title %}

fbv form
{{ form.media }}
{% endblock %}
{% block body %}
<div align="left">
<br>
<form  method="POST" enctype="multipart/form-data">

  {% csrf_token %}
  {{ formA.as_p }}
  {{ formB.as_p }}

  <button class="btn btn-primary" type="submit">Guardar cambios</button>
</form>
</div>


{% endblock %}