{% extends 'base.html' %}
{% block title %}

fbv form
{{ form.media }}
{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>

<form  method="POST" enctype="multipart/form-data">

  <table class="table table-dark" align="center" text-align="center" >
      
      <thead >
          <tr><td align="center"><h2></h2></td></tr>
  
      </thead>
      <tbody>
        {% csrf_token %}
        <tr><td  align="center">{{ form.as_p }}</td></tr>
        <tr><td  align="center"><button class="btn btn-primary" type="submit">Guardar cambios</button></td></tr>
  </tbody>

</table>
</form>
</div>


{% endblock %}