{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Inicio</title> 
{% endblock %}


{% block antes_del_body%}
        <div align="right">
            <br>

        </div>
{% endblock %}


{% block body %}  
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Numero del Post</th>
      <th>Nombre del autor</th>
      <th>Fecha de creacion</th>
      <th>Titulo </th>
      <th>Ver Post</th>
      <th>Acciones Post</th>

    </tr>
  </thead>
  <tbody>
    <a role="button" class="btn btn-success" href="{% url 'Sir:Add_Post' %}">Agregar</a>
    <br>
    <br>
    {% for b in post_in_page %}
    <tr>
      <td>{{ b.id }}</td>
      <td>{{ b.author}}</td>
      <td>{{ b.created_date }}</td>
      <td>{{ b.title }}</td>
      

      <td>

        <a role="button" href="{% url 'Sir:View_Post' b.id  %}" class='btn btn-secondary'>Visualizar Post</a>

      </td>
      <td>
        <a role="button" href="{% url 'Sir:Edit_Post' b.id  %}" class='btn btn-warning'>Editar</a>&nbsp;
        <a role="button" href="{% url 'Sir:Delete_Post' b.id  %}" class='btn btn-danger'>Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
