{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Foro </title>
{% endblock %}


{% block antes_del_body%}
        <div align="right">
            <br>

        </div>
{% endblock %}


{% block body %}

<div class="container">
  <div class="row">
    {% for b in Posts %}
    <div class="col-3 d-flex align-items-stretch"">

      <div class="card mb-4" style="width: 16rem;">
        <img class="card-img-top" width="100px" height="100px" src="{{'/media/'}}{{b.imagen}}" alt=". . .">
        <div class="card-body" >

          <h5 class="card-title">{{ b.title|slice:":20" }}...</h5>
          <p class="card-text" >{{ b.text|slice:":20"}}...</p>
          <a href="{% url 'Sir:View_Forums' b.id  %}" class="btn btn-primary">Ir</a>
        </div>

    </div>

    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
