{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Inicio</title> 
{% endblock %}


{% block antes_del_body%}
        <div align="right">
            <br>

        </div>
{% endblock %}


{% block body %}  
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Numero de OT</th>
      <th>Nombre del Cliente</th>
      <th>Direccion del Cliente</th>
      <th>Telefono de los Cliente</th>
      <th>Solicitante</th>
      <th>Dia Realizado</th>
      <th>Marca del Equipo</th>
      <th>Modelo del Equipo</th>
      <th>Ver OT</th>

    </tr>
  </thead>
  <tbody>
    <a role="button" class="btn btn-success" href="{% url 'Parvis:CreateDocument' %}">Agregar</a>
    <br>
    <br>
    {% for b in document %}
    <tr>
      <td>{{ b.id }}</td>
      <td>{{ b.Client.name }}</td>
      <td>{{ b.Client.direction }}</td>
      <td>{{ b.Client.phone }}</td>
      <td>{{ b.DateOn.applicant }}</td>
      <td>{{ b.DateOn.dateHour }}</td>
      <td>{{ b.Device.mark }}</td>
      <td>{{ b.Device.model }}</td>

      <td>

        <a role="button" href="{% url 'Parvis:DocumentView' b.id  %}" class='btn btn-warning'>Visualizar detalles</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
