{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Inicio</title> 
{% endblock %}


{% block antes_del_body%}
        <div align="right">
            <br>

        </div>
{% endblock %}


{% block body %}  
<br>
<table class="table table-bordered">
  <thead>
 
  </thead>
  <tbody>

    <tr>
        <th>Numero de OT</th><td>{{document.id}}</td>
    </tr>
    <tr><th></th></tr>  
    <tr>
        <th>Nombre del cliente</th><td>{{document.Client.name}}</td> 
        <th>Rut del cliente</th><td>{{document.Client.rut}}</td> 
        <th>Direccion del cliente</th><td>{{document.Client.direction}}</td>
    </tr> 
    <tr>
        <th>Telefono del cliente</th><td>{{document.Client.phone}}</td> 
        <th>Correo del cliente</th><td>{{document.Client.email}}</td> 
    </tr>
 
    <tr><th></th></tr>
    <tr>
        <th>Fecha y hora</th><td>{{document.DateOn.dateHour}}</td> 
        <th>Solicita</th><td>{{document.DateOn.applicant}}</td> 
        <th>Atencion</th><td>{{document.DateOn.attended}}</td> 
        <th>Realizado por</th><td>{{document.DateOn.makedFor}}</td> 
        <th>Recepcion</th><td>{{document.DateOn.reception}}</td> 
    </tr> 
    <tr><th></th></tr>
    <tr>   
        <th>Tipo de trabajo solicitado</th><td>{{document.Job_Type_Job}}</td> 
        <th>Cobertura del cliente</th><td>{{document.Job_Type_Contract}}</td> 
    </tr>
    <tr><th></th></tr>
    <tr>
        <th>Sistema</th><td>{{document.Device.system}}</td> 
        <th>Modelo</th><td>{{document.Device.mark}}</td> 
        <th>Marca</th><td>{{document.Device.model}}</td> 
        <th>Serie</th><td>{{document.Device.serie}}</td> 
    </tr> 
    <tr><th></th></tr>
    <tr><th></th></tr>
    <tr>
        <th>Check de seguridad electrica/mecanica</th><td>{{document.Inform.securityCheck}}</td> 
        <th>Rendimiento General (inspeccion)</th><td>{{document.Inform.generalPerformance}}</td> 
        <th>Check de servicio y calibracion</th><td>{{document.Inform.serviceandCalibration}}</td> 
        <th>Equipos digitales</th><td>{{document.Inform.digitalEquipment}}</td> 
        <th>Funcionamiento del sistema</th><td>{{document.Inform.systemOperation}}</td> 
    </tr> 
    <tr>
        <th>Observaciones</th><td>{{document.Observation}}</td>
    </tr> 
    
  </tbody>
</table>


{% endblock %}
