{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block body %}


<table class="table table-dark">
  <thead>
  </thead>
  <tbody>
    <br>
    <br>
        <tr>
          <td>Nombre de Usuario : </td>
          <td>{{ Userr.username}}</td>
        </tr>
        <tr>
          <td>Nombre :</td>
          <td>{{ Userr.first_name}}</td>
        </tr>
        <tr>
          <td>Apellido : </td>
          <td>{{ Userr.last_name}}</td>
        </tr>
        <tr>
          <td>Email : </td>
          <td>{{ Userr.email}}</td>
        </tr>
  </tbody>
</table>
<div align="center";><a role="button" class="btn btn-primary" href="{% url 'Usuarios:editUser' %}">Editar Perfil</a></div>

{% endblock %}
