{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Registrar </title>
{% endblock %}


{% block antes_del_body%}

{% endblock %}


{% block body %}



                
                <form  method="POST" enctype="multipart/form-data">

                    <table class="table table-dark" align="center" text-align="center" >
                        
                        <thead >
                            <tr><th align="center"><h2>Registrar</h2></th></tr>
                    
                        </thead>
                        <tbody>
                          {% csrf_token %}
                          {% for field in form %}
                                <div>
                            
                                    <tr>
                                        <td  align="center">{{field.label_tag}}</td> <td  align="center">{{field}}</td></tr>
                                    {% if field.errors %}
                                    <tr><td  align="center">{{ field.errors }}</td></tr>
                                    {% endif %}
                                </div>
                                <br>
                                
                            {% endfor %}
 
                          <tr><td  align="center"><button class="btn btn-primary" type="submit">Guardar cambios</button></td></tr>
                    </tbody>
                  
                  </table>
                  </form>
             
{% endblock %}

