{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Inicio</title> 
{% endblock %}


{% block antes_del_body%}
        <div align="right">
            <br>

        </div>
{% endblock %}


{% block body %}

    <br>
    <table class="table table-dark" align="center" text-align="center" >
        <thead>
    
        </thead>
        <tbody>
            <tr><td align="center"><h1>{{ Posts.title }}</h1></td></tr>
            <tr><td align="center">{{ Posts.created_date }}</td></tr>
            {%if Posts.imagen != None %}
            <tr><td align="center">{{ Posts.imagen }}<img class="img-fluid" src="{{'/media/'}}{{ Posts.imagen }}" alt=""></td></tr>
            {% else %}
            <tr><th></th></tr>
            {% endif %}
            <tr><td align="center">{{ Posts.author }}</td></tr>
            <tr><td align="center"><p>{{ Posts.text }}</td></tr>
            <tr><th></th></tr>
            {%if Posts.file_in.file_post != None %}
            <tr><td align="center">{{ Posts.file_in.file_name }}</td></tr>
            <tr><td align="center">{{ Posts.file_in.file_description }}</td></tr>
            <tr><td align="center"><a href="{{'/media/'}}{{ Posts.file_in.file_post }}" download="Posts.file_in.file_name">Descargar Archivo</a></tr>

            {% else %}
            <tr><th></th></tr>
            {% endif %}
            <br>
            <tr><th></th></tr>
            <tr><th></th></tr>
            <br>
            <br>

            
        </tbody>
    </table>
    {% for hi in hilos.all %}
    <table class="table " align="center" text-align="center" >
        
        <thead class="thead-dark">
            <tr><th class="thead-dark" align="center">{{hi.imagen_name}}</th></tr>
    
        </thead>
        <tbody>
            <tr><td align="center">{{hi.imagen_description}}</td></tr>
            <tr><td align="center"><img class="img-fluid" src="{{'/media/'}}{{hi.imagen_file}}" alt="Responsive image"></td></tr>
            
        </tbody>

    </table>
    {% endfor %}



{% if 'admin' ==  request.user.groups.all.0.name or 'editor' ==  request.user.groups.all.0.name or 'lector' ==  request.user.groups.all.0.name%}  

<form  method="POST" enctype="multipart/form-data">

    <table class="table " align="center" text-align="center" >
        
        <thead class="thead-dark">
            <tr><th class="thead-dark" align="center">Deja tu comentario</th><th class="thead-dark" ></th></tr>
    
        </thead>
        <tbody>
            {% csrf_token %}
            {% for field in addhilo %}
                                <div>
                                    <tr>
                                    <td  align="center">{{field.label_tag}}</td> <td  align="center">{{field}}</td></tr>
                                </div>
                                <br>
                                
                            {% endfor %}


            <tr><td class="thead-dark" align="center"><button class="btn btn-primary" type="submit">Guardar cambios</button></td></tr>
        </tbody>

    </table>

    {% else %}
    <h2 align='center'>Registrate para comentar</h2>
    {% endif %}

</form>
{% endblock %}