{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Inicio</title> 
{% endblock %}


{% block antes_del_body%}
        <div align="right">
            <br>

        </div>
{% endblock %}


{% block body %}
{% if Posts.file_in.file_name != None %}  
    <br>
    <table class="table table-bordered">
        <thead>
    
        </thead>
        <tbody>
            <tr><th>{{ Posts.title }}</th></tr>
            <tr><th>{{ Posts.created_date }}</th></tr>
            <tr><th>{{ Posts.author }}</th></tr>
            <tr><th>{{ Posts.text }}</th></tr>
            <tr><th>{{ Posts.imagen }}</th></tr>
            <tr><th></th></tr>
            <tr><th>{{ Posts.file_in.file_name }}</th></tr>
            <tr><th>{{ Posts.file_in.file_description }}</th></tr>
            <tr><th>{{ Posts.file_in.file_post }}</th></tr>
            <tr><th></th></tr>
            <tr><th></th></tr>
        </tbody>
    </table>


    {% else %}  
    <br>
    <table class="table table-bordered">
        <thead>
    
        </thead>
        <tbody>
            <tr><th>{{ Posts.title }}</th></tr>
            <tr><th>{{ Posts.created_date }}</th></tr>
            <tr><th>{{ Posts.author }}</th></tr>
            <tr><th>{{ Posts.text }}</th></tr>
            <tr><th>{{ Posts.imagen }}</th></tr>
            <tr><th></th></tr>
        </tbody>
    </table>


{% endif %}
{% endblock %}